* {
    font-family: 'Poppins', sans-serif;
}

button {
    width: 250px;
    height: 50px;
    border: 0;
    border-radius: 15px;

    background-color: #58A9A5;
}

.start-link {
    margin-top: 30px;
}

.logo-block {
    margin-bottom: 35px;
}

.logo {
    font-weight: 800;
    color: #58A9A5;
    font-size: 35px;
    margin: 25px;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: 400;
    size: 25px;
}

.first-image-block {
    display: flex;
    flex-direction: row-reverse;
}

.links__active:active {
    color: #58A9A5; 
    border-bottom: 1px solid #FEC62D;
    border-width: 0px;
    z-index: 1001;
}

.heading-block {
    display: flex;
    margin-top: 10px;
}

.first-image-block {
    display: flex;
    flex-direction: row-reverse;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 140px;

    max-width: 1240px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

button a {
    color: #fff;
}

.sign-up_button {
    margin-left: 75px;
}

.brands_nav {
    display: flex;
    justify-content: space-between ;
}

.brands:nth-child(2) {
    margin-top: 60px;
}

.brands:nth-child(3) {
    margin-top: 70px;
}

.brands:nth-child(4) {
    margin-top: 30px;
}

.nav_ul {
    display: flex;
    align-items: center;
    gap: 0 65px;
}

.nav-links {
    list-style: none;
}

.sign-up_button a {
    color: #ffffff;
}

.heading {
    font-weight: 800;
    font-size: 50px;
    margin-top: 100px;
}

.start-link {
    border-radius: 20px, 20px, 20px, 0px;
}

.start-link a {
    font-weight: 700;
}

.second-image {
    object-fit: cover;
    width: 900px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

}

.right-block {
    width: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

    background-color: #CCF0E6;
}

.text-in-block {
    font-size: 14px;
    font-weight: 500;
    color: #486958;
}

.mission-right-block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    max-width: 750px;
}

[type="email"] {
    border: none;
}

.other_hr {
    height: 5px;
    width: 135px;
    border-radius: 1vh;
    border: none;

    background-color: #58A9A5;
}

.send-now {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    align-items: center;
}

.form_hr {
    display: flex;
    width: 40vh;
    background-color: #000;
}

.other {
    margin-bottom: 33vh;
}

.form {
    border: 1px solid #486958;
    width: 600px;
    height: 200px;
    display: flex;
    padding: 20px;
}

.contacts {
    display: flex;
    justify-content: flex-start;
    z-index: 1001;
}

.testimonial_heading {
    margin: 50px;
    
}

.brands_block {
    display: flex;
    width: 100vh;
    flex-wrap: wrap;
}

.brands_nav {
    display: flex;
    justify-content: space-around;
}

.rooms_block {
    width: 100vh;
    display: flex;
}

.background-green {
    background-color: #CCF0E6;
    /* width: 50vh; */
    justify-content: space-between;
    margin-bottom: 20px;

}

input[type="text"] {
    border: none;
}

.how-it-works_div {
    display: flex;
    flex-wrap: wrap;
}

.second-heading {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1200px;
}

.inline-block {
    display: flex;
    max-width: 1180px;
    margin-top: 25px;
    max-height: 225px;
}

.container {
    margin-left: 25px;
}

.mission-heading {
    margin-top: 100px;
}

